html,body{
	width:100%;
  height:100%;
} 

.classify{
	background-color: #4bb1fb;
}

.classify>p{
   color: #FFFFFF;
}

.classify>img{
	height:60px;
	background-color: #ffffff;
	border-radius: 30rem;
}
/*
.classify:active{
	background-color: #FFFFFF;
}
.classify>p:active,.classify>img:active{
	color:#4bb1fb;
	background-color: #4bb1fb;
}*/
/*
.classify>img:active{
	background-color: #4bb1fb;
}*/